* {
  margin: 0;
  padding: 0;
  font-family:Arial, Helvetica, sans-serif;
}

body {
  background-color: #edf6ff;
}

/* Header */

.header {
  background-color: #6daffe;
  color: white;
  text-align: center;
  padding: 20px 20px;
  height: 50px;
  display: flex;
  justify-content: space-around;
}

.headerTitle {
  font-size: 20px;
  color: white;
}

.titleIcon {
  font-size: 40px;
  color: #2E489C;
}
/* Footer */

.footer {
  background-color: #6daffe;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 90px;
  width: 100%;
  color: white;
}

/* Sidebar */

.sidebar {
  background-color: #ff5700;
  height: 100%;
  position: fixed;
  left: 0;
  padding-right: 20px;
  z-index: 3;
  color: white;
  text-align: center;
  width: fit-content;
}

.sidebarList {
  padding-top: 15px;
  padding-left: 10px;
}

.sidebarList li {
  padding: 30px 0px;
  padding-left: 10px;
  list-style: none;
  font-size: 12px;
}

.sidebarList li a:hover {
  color: #2E489C;
  text-decoration: underline;
}

.sidebarList li a{
  color: white;
  text-decoration: none;
  font-weight: bold;
}

/* Content */

.content {
  text-align: center;
  padding-left: 150px;
  color: #2E489C;
}

.content a {
  text-decoration: none;
}

.contentDiv {
  padding: 5%;
  padding-top: 20px;
}

.contentDiv h2 {
  padding: 5%;
  padding-top: 3%;
  color:#ff5700;
  font-size: 18px;
}

.contentDiv p {
  padding-bottom: 50px;
  padding-left: 20px;
  font-size: 13px;
  font-weight: bold;
}

.linkbtn {
  background-color: #6daffe;
  padding: 10px;
  border-radius: 15px;
  color:#2E489C;
  font-size: 14px;
}

.icons {
  display: grid;
  row-gap: 30px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.icon {
  color: #2E489C;
  font-size: 30px;
}

.icon:hover {
  color:#ff5700;
}

@media (min-width: 768px) {
  .headerTitle {
    font-size: 40px;
  }
  .sidebarList li {
    font-size: 20px;
  }
  .content {
    padding-left: 200px;
  }
  .contentDiv h2 {
    font-size: 30px;
  }
  .contentDiv p {
    font-size: 16px;
    padding: 30px;
  }
  .linkbtn {
    font-size: 16px;
    font-weight: bold;
    padding: 20px;
  }
}

@media (min-width: 1024px) {
  .contentDiv h2 {
    font-size: 35px;
  }
  .contentDiv p {
    padding-top: -20px;
    margin-bottom: 40px;
    font-size: 24px;
    font-weight: normal;
  }
  .linkbtn {
    font-size: 24px;
  }
}
